<div class="content">
  <h2>Ajouter un contact</h2>
  <form action="">

    <input #name type="text" placeholder="Name" (keyup)="onUpdateInput('_name', name.value)"/>

    <button class="btn btn-primary" [disabled]="!canAdd" (click)="onAdd()">Ajouter</button>
  </form>
</div>
