.content {

  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 960px;

  width: 50vw;

  .card {
    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
