<div class="content" role="main">

  <!-- Connect  -->
  <h2>Existing account</h2>

  <div class="card sign-in">
    <form action="">
      <input #pseudoLogin type="text" placeholder="Pseudo" (keyup)="onUpdateInput('pseudoLogin', pseudoLogin.value)"/>
      <input #passwordLogin type="password" placeholder="Password" (keyup)="onUpdateInput('passwordLogin', passwordLogin.value)"/>

      <button class="btn btn-primary" [disabled]="!canLogin" (click)="onConnect($event)">Log In</button>
    </form>

  </div>

  <!-- Create account -->
  <h2>New account</h2>

  <div class="card sign-on">
    <form action="">
      <input #pseudoCreate type="text" name="login" placeholder="Login" (keyup)="onUpdateInput('pseudoCreate', pseudoCreate.value)"/>
      <input #passwordCreate type="password" name="password" placeholder="Password" (keyup)="onUpdateInput('passwordCreate', passwordCreate.value)"/>
      <input #passwordBisCreate type="password" name="password" placeholder="Confirm password" (keyup)="onUpdateInput('passwordBisCreate', passwordBisCreate.value)"/>

      <button class="btn btn-primary" [disabled]="!canCreate" (click)="onCreate($event)">Confirm</button>
    </form>
  </div>
</div>
